<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ImageSharp Nightly" value="https://www.myget.org/F/sixlabors/api/v3/index.json" />
    <add key="Benchmark.NET Nightly" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />
  </packageSources>
</configuration>
